# Project
ENVIRONMENT=local
LOG_LEVEL=INFO

# Kaggle ingestion
KAGGLE_DATASET_SLUG=noopurbhatt/retail-store-sales-forecasting-dataset
KAGGLE_USERNAME=
KAGGLE_KEY=
KAGGLE_CONFIG_DIR=.kaggle
KAGGLEHUB_CACHE=.kagglehub

# Local file storage
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
VALIDATION_OUTPUT_DIR=data/validation

# PostgreSQL warehouse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=retail_sales
POSTGRES_USER=retail_user
POSTGRES_PASSWORD=retail_password
POSTGRES_SCHEMA=analytics

# Airflow
AIRFLOW_UID=50000
AIRFLOW_WEBSERVER_PORT=8080
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://retail_user:retail_password@postgres:5432/airflow
AIRFLOW__WEBSERVER__SECRET_KEY=local-dev-secret-key
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_PIP_ADDITIONAL_REQUIREMENTS=pandas python-dotenv pydantic pydantic-settings kaggle kagglehub great-expectations psycopg2-binary

# Streamlit
STREAMLIT_SERVER_PORT=8501
